.taskContainer {
  background-color: #00ffff;
  color: #333333;
  height: 4rem;
  width: 80%;
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .editTextContainer {
    align-items: flex-start;
    justify-content: flex-start;
    .editTextInputBox {
      background-color: white;
      color: #333333;
      border-radius: 0.5rem;
      height: auto;
    }
  }
  .taskDescription {
    padding: 2px;
    justify-content: center;
  }
  .buttonArea {
    display: flex;
    height: 100%;
    width: 30%;
    flex-direction: row;
    justify-content: flex-end;
    color: #333333;
    gap: 0.5rem;

    button {
      background-color: inherit;
      border: none;
      color: #333333;
      padding: 0;
      margin: 0;
      font-size: small;
      scale: 1;
    }

    button:hover {
      color: #0d0d0d;
      transform: scale(1.2);
    }

    button:active {
      color: #0d0d0d;
      transform: scale(1.2);
    }
  }
}
